<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sección de Productos</title>
    <link rel="stylesheet" href="../css/flowbite.min.css">
</head>
<body>
        <section class="bg-gray-400 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-6 py-16 mx-auto md:h-screen lg:py-0">
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-transparent bg-clip-text bg-gradient-to-br from-purple-600 to-blue-500 text-center md:text-2xl">
                        Bienvenido a la sección de Productos
                    </h1>
                    
                    <div class="flex justify-center">
                        <button data-value="consultar" type="button" id="btnConsultar" class="itemsmenu text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            Consultar producto
                        </button>
                    </div>

                    <div class="flex justify-center">
                        <button data-value="registrar" type="button" id="btnRegistrar" class="itemsmenu text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            Registrar producto
                        </button>

                    </div>

                    <div class="flex justify-center">
                        <button data-value="actualizar" type="button" id="btnActualizar" class="itemsmenu text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            Actualizar producto
                        </button>
                    </div>

                    <div class="flex justify-center">
                        <button data-value="eliminar" type="button" id="btnEliminar" class="itemsmenu text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            Eliminar producto
                        </button>
                    </div>

                    <div class="flex justify-center">
                        <button data-value="listar" type="button" id="listarP" class="itemsmenu text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            Listar producto
                        </button>
                    </div>

                    <div class="flex justify-center">
                        <button type="button" id="logout" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            Cerrar sesion 
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../js/browser@4.js"></script>
    <script src="../js/flowbite.min.js"></script>
    <script type="module" src="../js/scriptseccionp.js"></script>
</body>
</html>